<div>
    <form action="RandBetweenNumbers" method="post">
        <p>Enter the number to square: <input name="inputOne" type="number" step="any" /></p>
    </form>
    <form action="RandBetweenNumbers" method="post">
        <p>Enter the number to square: <input name="inputTwo" type="number" step="any" /></p>
        <input name="submit" type="submit" />
    </form>
    <p>
        A random number between the inputs are : @Model
    </p>
</div>

