
<div>
    <form action="DifferenceBetweenNameAndAge"  method="post">
        <input name="inputName" />
        <input age="inputAge"/>
        <input name="submit" type="submit" />
    </form>
    
    <p>
        @Model
    </p>
</div>
